.contenedor{
    margin:auto;
    background-color: lightblue;
    max-width: 80%;
}
.div1,.div2,.div3,.div4,.div5{
    margin:auto;
    width: 300px;
    height: 180px;
    box-sizing: border-box;
    border: solid;
    border-width: 2px;
    border-radius: 20px;
}
.div2,.div3,.div4,.div5{
    margin-top: 20px;
}
.div1,.div2,.div3{
    justify-content: center;
    align-items: center;
    display:flex;
}
.div1{
    background: linear-gradient(180deg,orange, white, pink);
    box-shadow: 16px 8px 2px rgba(0,0,0,0.3);
}
.div2{
    background: radial-gradient(orange,white,pink);
    font-size: 2em;
}
.div3{
    background: linear-gradient(45deg,orange, white, pink);
}

.div4{
    background: linear-gradient(-45deg,orange, white, pink);
}
.div5{
    background: linear-gradient(45deg,orange, white, pink);
}
img{
    max-width:50%;
    max-height:80%;
    margin: 1%;
}
.volver {
    font-size: 16px;
    padding: 18px 30px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    z-index: 99;
    border: 2px solid blueviolet;
    background-color: white;
    color: blueviolet;

}
.volver:hover {
    background-color:blueviolet;
    color: white;
}  
.footer {
    margin-top: 5px;
    width: 100%;
    height: 60px;
    background-color: blueviolet;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
}